In [146]:
a = 10
b = 20
a + b

30

In [137]:
def sum_of_variables(a,b):# def - definiton of a function 
    """This functaion gives the sum of two numbers"""
    return a +b

In [147]:
sum_of_variables(10,20)

30

In [148]:
def dam(x,y):
    print("This is the values of data", x,y)

In [149]:
type(dam(10,20)) # Print will give you NoneType

This is the values of data 10 20

NoneType

In [150]:
def mul(x,y):
    """This functaion gives the product of two numbers"""
    return x*y

In [151]:
type(mul(5,15)) #return will give you the respective data type

int

In [152]:
type(print())

NoneType

In [153]:
def test1(a,b,c):
    """This functaion gives the sum of two numbers with three arguments passed"""
    return a + b

In [154]:
test1(10,20) # Irrespective of the argumenst used inside the function we are supposed to pass apl the arguments

TypeError: test1() missing 1 required positional argument: 'c'

In [155]:
def test2(a,b):
    return a*1,b*5,a*b

In [156]:
test2(5,6)

(5, 30, 30)

In [157]:
type(test2(3,5)) # multiple returns give as tuple by default

tuple

In [158]:
x,y,z = test2(10,20) # Multiple returns

In [159]:
x

10

In [160]:
y

100

In [161]:
z

200

In [162]:
c,v,_= test2(10,20) #Placeholder holding the value instead of a variable

In [163]:
c

10

In [164]:
v

100

In [165]:
_

100

In [166]:
# Gives error if have multiple returns 
s,d = test2()

TypeError: test2() missing 2 required positional arguments: 'a' and 'b'

In [167]:
def test3(a,b):
    return b
    return a

In [168]:
test3(10,20)

20

In [169]:
def test4():
    return "This is a string "

In [170]:
test4()

'This is a string '

In [171]:
test4()+"Ravi Shankar"

'This is a string Ravi Shankar'

In [172]:
def test5(i):
    return i,i*2

In [173]:
test5(7)

(7, 14)

In [174]:
test5([2,3,4,5,6,67,8,])

([2, 3, 4, 5, 6, 67, 8], [2, 3, 4, 5, 6, 67, 8, 2, 3, 4, 5, 6, 67, 8])

In [175]:
def test6(m,n = 30): # Asignment pasarameter should be folowed by default parameter 
    return n+m

In [176]:
test6(10,50)

60

In [177]:
def test7(x = True,y=False):
    """This is a Doc String"""
    return x +y

In [178]:
test7(False,1) #Can override the values while calling

1

In [179]:
def travel(bike = True, car = False):
    plan_travel = bike or car
    return bike,car,plan_travel

In [180]:
travel(True,True)

(True, True, True)

In [181]:
travel(True,False)

(True, False, True)

In [182]:
travel(False,True)

(False, True, True)

In [183]:
travel(False,False)

(False, False, False)

In [184]:
def test8(*args, a = "Ravi"):
    return args,a

In [185]:
test8("Ravishankar",[10,20])

(('Ravishankar', [10, 20]), 'Ravi')

In [186]:
def test9(*args):
    lst = []
    for i in args:
        lst.append(i)
    return lst

In [187]:
test9([10],[20],[30,40,50],"Ravi","Shankar")

[[10], [20], [30, 40, 50], 'Ravi', 'Shankar']

In [188]:
test9([10,20,30],(20,30,40))

[[10, 20, 30], (20, 30, 40)]

In [189]:
def test10(*args):
    return [i for i in args]

In [190]:
test10([10,20],(40,50))

[[10, 20], (40, 50)]

In [191]:
def test11(*args):
    lst = []
    for i in args:
        if type(i) == list:
            lst.append(i)
    return lst

In [192]:
test11([20,30,40],(20,30,4),[11,22,33])

[[20, 30, 40], [11, 22, 33]]

In [193]:
def test12(**kwargs):
    return kwargs

In [194]:
test12(v = 10, l = "Ravi", a = [10,20,30],r = 20)

{'v': 10, 'l': 'Ravi', 'a': [10, 20, 30], 'r': 20}

In [196]:
type(test12(a = 10,r = 20))

dict

In [220]:
def find_type(sample_list):
    type_list = []
    type_tuple = []
    type_string = []
    type_int = []
    type_complex = []
    type_bool = []

    for i in sample_list:
        if type(i) == list:
            type_list.append(i)
        elif type(i) == tuple:
            type_tuple.append(i)
        elif type(i) == str:
            type_string.append(i)
        elif type(i) == int:
            type_int.append(i)
        elif type(i) == complex:
            type_complex.append(i)
        elif type(i) == bool:
            type_bool.append(i)
        else:
            print("Nothing in the List")
    return type_list, type_tuple,type_string,type_int,type_complex,type_bool

In [221]:
find_type([[20, 20] , 30, "ravi" ,25.58, 50,20+8j, [10,20],(10,"Shankar"),True,False])

Nothing in the List

([[20, 20], [10, 20]],
 [(10, 'Shankar')],
 ['ravi'],
 [30, 50],
 [(20+8j)],
 [True, False])

In [226]:
def take_inputs(*args,**kwargs):
    one = [ i for i in args if type(i)==list]
    two = [ i[1] for i in kwargs.items() if type(i[1])==list]
    return one,two

In [228]:
take_inputs([[10,20],30],a = 10,b = 20,c = "Ravi",d = 20+9j,e = [10,20,30])

([[[10, 20], 30]], [[10, 20, 30]])

In [229]:
def test17(**kwargs):
    return kwargs

In [233]:
test17(a = [10,30,40],b = 20,c = 30,d = "Ravi")

{'a': [10, 30, 40], 'b': 20, 'c': 30, 'd': 'Ravi'}

In [240]:
#lambda Function
lambda x,y,z: x+y

In [243]:
m = lambda x,y,z: x+y+z

In [244]:
m(1,2,3)

6

In [247]:
m("Ravi"," Shankar"," AI Engineer")

'Ravi Shankar AI Engineer'

In [251]:
c = lambda x: [i+100 for i in x]

In [252]:
c([10,20,30])

[110, 120, 130]

In [257]:
r = 10
def test_18(a,b):
    r = a/b
    return r

In [258]:
test_18(100,10)

10.0

In [269]:
def writedocstring():
    """
    This is a Doc String where the details of the function is available
    """
    pass

In [270]:
writedocstring()

In [271]:
print(writedocstring.__doc__)

    This is a Doc String where the details of the function is available

In [273]:
help(writedocstring)

Help on function writedocstring in module __main__:

writedocstring()
    This is a Doc String where the details of the function is available