### Exercise 1: Write a program to create a list with random data types elements.

In [15]:
list1 = ["one",2,3.0,2+6j,True,{'k':'one'},(2,4),[2,5]]

In [16]:
list1

['one', 2, 3.0, (2+6j), True, {'k': 'one'}, (2, 4), [2, 5]]

In [17]:
for i in list1:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'dict'>
<class 'tuple'>
<class 'list'>

In [19]:
len(list1)

8

In [20]:
list1[::-1]

[[2, 5], (2, 4), {'k': 'one'}, True, (2+6j), 3.0, 2, 'one']

In [27]:
len(list1)

8

In [28]:
list1 = ["one",2,3.0,2+6j,True,{'k':'one'},(2,4),[2,5]]
lst =[]
for i in range(len(list1)-1,-1,-1):
    lst.append(list1[i])
lst

[[2, 5], (2, 4), {'k': 'one'}, True, (2+6j), 3.0, 2, 'one']

In [41]:
def find_ow(string):
    list1 = ['a','e','i','o','u']
    if str(string) in list1:
        print("The give input {} is a owel: ".format(string))
    else:
        print("The give input {} is a Constraint: ".format(string))

In [49]:
find_ow("a")

The give input a is a owel:

In [58]:
a = 100
b  = 200
if a == 10 and b == 20:
    print("This is a valid case")
elif a == 100 or b == 20:
    print("Inside ELif")
else:
    print("Falls under else")

Inside ELif

In [54]:
print(True and True)
print(False and True)
print(True and False)
print(False and False)

True
False
False
False

In [55]:
print(True or True)
print(False or True)
print(True or False)
print(False or False)

True
True
True
False

In [64]:
initial_speed = 11
final_speed = 100
count = 1
while initial_speed <= final_speed:
    print("Speed")
    count += 1
    if count == 6:
        break

Speed
Speed
Speed
Speed
Speed

In [65]:
print("hello World")

hello World

In [67]:
def sumofvalues(a,b):
    return a + b

In [68]:
sumofvalues(5,6)

11

In [69]:
def attendance(rolln):
    rec = [1,2,3,4,5,6,7,8,9,10]
    if rolln in rec:
        print("The student {} is present today".format(rolln))
    else:
        print("The student is absent")

In [70]:
attendance(5)

The student 5 is present today

In [71]:
def highist(a,b,c):
    return max(a,b,c)

In [72]:
highist(5,10,12)

12

In [79]:
def evenorodd():
    num = int(input("Enter a valid Integer:"))
    if (num%2 == 0):
        print("This is a even number", num)
    else:
        print("This is a odd number", num)

In [80]:
evenorodd()

Enter a valid Integer:55
This is a odd number 55

In [83]:
def take():
    stringvalue = input("Plase enter the value")
    return "This is that data that is entered " + stringvalue.upper()

In [84]:
take()

Plase enter the valueravishankar

'This is that data that is entered RAVISHANKAR'

In [85]:
def countthewords():
    input_word = input("Please enter the values: ")
    ow = ['a','e','i','o','u',]
    owllist = []
    conslst = []
    for i in input_word:
        if i in ow:
            owllist.append(i)
        else:
            conslst.append(i)
    print(len(owllist))
    print(len(conslst))

In [88]:
countthewords()

Please enter the values: bharathkumar
4
8

In [91]:
class firstclass:
    
    def __init__(self, name,section,age,salary):
        self.name = name
        self.section = section
        self.age = age
        self.salary = salary

In [92]:
obj = firstclass("ravi","HR",25,35000)

In [93]:
obj.age

25