### Exercise 1: Reverse a list in Python

In [2]:
list1 = [100, 200, 300, 400, 500]
list1[::-1]

[500, 400, 300, 200, 100]

In [16]:
print(len(list1))

5

In [24]:
lst =[]
for i in range(len(list1)-1,-1,-1):
    lst.append(list1[i])
lst

[500, 400, 300, 200, 100]

### Exercise 2: Concatenate two lists index-wise

In [25]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

In [41]:
print(list1[0] + list2[0], list1[1] + list2[1], list1[2] + list2[2], list1[3] + list2[3])

My name is Kelly

In [39]:
new = []
for i,j in zip(list1,list2):
    new.append((i+j))
new

['My', 'name', 'is', 'Kelly']

### Exercise 3: Turn every item of a list into its square

In [42]:
list1 = [2,3,4,5,6]
sqr_lst = []
for i in list1:
    sqr_lst.append(i**2)
sqr_lst

[4, 9, 16, 25, 36]

In [44]:
lst_sqr_lst = [i**2 for i in list1]
lst_sqr_lst

[4, 9, 16, 25, 36]

### Exercise 4: Concatenate two lists in the following order

In [55]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
output_lst=[]
for i in list1:
    for j in list2:
        output_lst.append(i+j)
output_lst

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

### Exercise 5: Iterate both lists simultaneously

In [56]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

In [59]:
for i,j in zip(list1,list2[::-1]):
    print(i,j)

10 400
20 300
30 200
40 100

### Exercise 6: Remove empty strings from the list of strings

In [63]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
for i in list1:
    if i == "":
        list1.remove("")
list1

['Mike', 'Emma', 'Kelly', 'Brad']

### Exercise 7: Add new item to list after a specified item

In [67]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1.insert(3,"Inserted")

In [69]:
for i in list1:
    if type(i)==list:
        list1.append("Test")
list1

[10, 20, [300, 400, [5000, 6000], 500], 'Inserted', 30, 40, 'Test', 'Test']

### Exercise 8: Extend nested list by adding the sublist

In [71]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2]

['c', ['d', 'e', ['f', 'g'], 'k'], 'l']

In [84]:
list1[2][1][2].extend(sub_list)

In [81]:
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', ['h', 'i', 'j']], 'k'], 'l'], 'm', 'n']

In [99]:
list1 = [5, 10, 15, 20, 25, 50, 20]

index = list1.index(20)


list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

### Exercise 10: Remove all occurrences of a specific item from a list.

In [100]:
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
    if i == 20:
        list1.remove(i)
list1

[5, 15, 25, 50]

In [101]:
def remove_number(sample_list,val):
    for i in sample_list:
        if i == val:
            sample_list.remove(i)
    return sample_list

In [102]:
remove_number([2,20,30,40,20,1,3],20)

[2, 30, 40, 1, 3]