In [1]:
a = 10
b = 20
a + b

30

In [2]:
def sum_of_variables(a,b): # def - definiton of a function 
    return a +b

In [3]:
sum_of_variables(10,20)

30

In [11]:
def dam(x,y):
    print("This is the values of data", x,y)

In [32]:
type(dam(10,20)) # Print will give you NoneType

This is the values of data 10 20

NoneType

In [27]:
def mul(x,y):
    return x*y

In [34]:
type(mul(5,15)) #return will give you the respective data type

int

In [38]:
type(print())

NoneType

In [39]:
def test1(a,b,c):
    return a + b

In [43]:
test1(10,20) # Irrespective of the argumenst used inside the function we are supposed to pass apl the arguments

TypeError: test1() missing 1 required positional argument: 'c'

In [44]:
def test2(a,b):
    return a*1,b*5,a*b

In [48]:
test2(5,6)

(5, 30, 30)

In [49]:
type(test2(3,5)) # multiple returns give as tuple by default

tuple

In [50]:
x,y,z = test2(10,20) # Multiple returns

In [51]:
x

10

In [52]:
y

100

In [53]:
z

200

In [54]:
c,v,_= test2(10,20) #Placeholder holding the value instead of a variable

In [60]:
c

10

In [61]:
v

100

In [62]:
_

100

In [63]:
# Gives error if have multiple returns 
s,d = test2()

TypeError: test2() missing 2 required positional arguments: 'a' and 'b'

In [65]:
def test3(a,b):
    return b
    return a

In [66]:
test3(10,20)

20

In [67]:
def test4():
    return "This is a string "

In [68]:
test4()

'This is a string '

In [69]:
test4()+"Ravi Shankar"

'This is a string Ravi Shankar'

In [76]:
def test5(i):
    return i,i*2

In [77]:
test5(7)

(7, 14)

In [78]:
test5([2,3,4,5,6,67,8,])

([2, 3, 4, 5, 6, 67, 8], [2, 3, 4, 5, 6, 67, 8, 2, 3, 4, 5, 6, 67, 8])

In [85]:
def test6(m,n = 30): # Asignment pasarameter should be folowed by default parameter 
    return n+m

In [86]:
test6(10,50)

60

In [94]:
def test7(x = True,y=False):
    """This is a Doc String"""
    return x +y

In [95]:
test7(False,1) #Can override the values while calling

1

In [98]:
def travel(bike = True, car = False):
    plan_travel = bike or car
    return bike,car,plan_travel

In [102]:
travel(True,True)

(True, True, True)

In [103]:
travel(True,False)

(True, False, True)

In [104]:
travel(False,True)

(False, True, True)

In [105]:
travel(False,False)

(False, False, False)

In [108]:
def test8(*args, a = "Ravi"):
    return args,a

In [109]:
test8("Ravishankar",[10,20])

(('Ravishankar', [10, 20]), 'Ravi')

In [110]:
def test9(*args):
    lst = []
    for i in args:
        lst.append(i)
    return lst

In [112]:
test9([10],[20],[30,40,50],"Ravi","Shankar")

[[10], [20], [30, 40, 50], 'Ravi', 'Shankar']

In [113]:
test9([10,20,30],(20,30,40))

[[10, 20, 30], (20, 30, 40)]

In [114]:
def test10():
    l = []
    return [l for i in args]