## Oops !!

In [1]:
class bike:
    pass

In [2]:
honda = bike()

In [3]:
honda

In [4]:
honda.name = "Splender" 
honda.model = "Plus" 
honda.year = 2020
honda.milage = 56

In [5]:
honda.name

'Splender'

In [6]:
honda.model

'Plus'

In [7]:
honda.year

2020

In [8]:
honda.milage

56

In [88]:
class car :
    def __init_(self,name,model,year,milage):
        self.name = name 
        self.model = model 
        self.year = year
        self.milage = milage
        
    def age(self,current_year):
        return current_year - self.year
    
    def milage_one(self):
        return "his is the milage" + str(self.milage)
    
    def __str__(c):
        return "This is In-built Method "

In [89]:
obj = car()

In [90]:
obj

In [91]:
obj._car__init_("Ravi","xzen",2020,25)

In [92]:
obj.name

'Ravi'

In [93]:
obj.model

'xzen'

In [94]:
obj.year

2020

In [95]:
obj.milage

25

In [96]:
obj.age(2022)

2

In [97]:
obj.milage_one()

'his is the milage25'

In [87]:
print(obj)

This is inbuilt Method

In [165]:
class student():
    def __init__(self, name, rollno, joiningdate, currenttopic):
        self. name = name 
        self.rollno = rollno
        self.joiningdate = joiningdate
        self.currenttopic = currenttopic
        
    def name_parsing(self):
        if type(self.name) == list:
            for i in self.name:
                print("Name of the student is ", i)
        else:
            print("Provided name is not in the list")
        
    def crttopic(self):
        print("Current topic is ",self.currenttopic)
        
    def std_rollno(self):
        try:
            if type(self.rollno) == int:
                print("Do nothing")
            else:
                return str( self.rollno)
        except Excption as e:
            print("This is the exception that is received",e)
            
    def __str__(self):
        return "This is a STR function"

In [166]:
ravi = student("Ravi", "1245", 15-5-2021,"Oops" )

In [167]:
ravi.std_rollno()

'1245'

In [168]:
print(student("Ravi", 1245, 15-5-2021,"Oops"))

This is a STR function

In [169]:
print(ravi)

This is a STR function

In [170]:
jaya = student(["Ravi","Shankar","Mokshith"],1456,16-6-2021,"Objects")

In [171]:
jaya.std_rollno()

Do nothing

In [172]:
jaya.name

['Ravi', 'Shankar', 'Mokshith']

In [173]:
jaya.name_parsing()

Name of the student is  Ravi
Name of the student is  Shankar
Name of the student is  Mokshith

In [174]:
jaya.std_rollno()

Do nothing

In [175]:
jaya.crttopic

In [176]:
jaya.name_parsing()

Name of the student is  Ravi
Name of the student is  Shankar
Name of the student is  Mokshith

In [177]:
jaya.std_rollno()

Do nothing

In [178]:
jaya.crttopic()

Current topic is  Objects